export const getCvcgURL = () => 'https://www.example.org/example';
export const getPortalManualURL = () => 'https://www.example.org/example';
export const getPortalPluginDirectoryURL = () => 'https://www.example.org/example';
export const getBasePath = () => '/example/';
